body {
  background-image: url("library.jpg");
  font-family: "bookfont";
}
.addButton {
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #34974d;
  background-color: #3aa856;
}
@font-face {
  font-family: "bookfont";
  src: url("book-shelves-font/BookShelves-5r0j.ttf");
}

.addButton,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.addButton .button__text {
  font-family: "bookfont";
  transform: translateX(30px);
  color: #fff;
  font-size: 20px;
}

.addButton .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 33px;
  background-color: #34974d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButton .svg {
  width: 30px;
  stroke: #fff;
}

.addButton:hover {
  background: #34974d;
}

.addButton:hover .button__text {
  color: transparent;
}

.addButton:hover .button__icon {
  width: 135px;
  transform: translateX(0);
}

.addButton:active .button__icon {
  background-color: #2e8644;
}

.addButton:active {
  border: 1px solid #2e8644;
}

.popup {
  display: flex;
  color: white;
  background-color: #2e8644;
  justify-content: center;
  flex-direction: row;
  width: 500px;
  height: 550px;
  padding: 2%;
  position: absolute;
  top: -150%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  opacity: 0%;
  transition: top 250ms ease-in-out 250ms;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(12px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}
.popup.active {
  top: 50%;
  opacity: 100%;
  transition: top 250ms ease-in-out 250ms;
  z-index: 1;
}
input {
  display: block;
  height: 7%;
  width: 100%;
}
.readstatus {
  -webkit-appearance: none;
  /* remove default */
  display: block;
  margin: 9px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  cursor: pointer;
  vertical-align: middle;
  box-shadow: hsla(0, 0%, 100%, 0.15) 0 1px 1px,
    inset hsla(0, 0%, 0%, 0.5) 0 0 0 1px;
  background-color: hsla(0, 0%, 0%, 0.2);
  background-image: -webkit-radial-gradient(
    hsla(200, 100%, 90%, 1) 0%,
    hsla(200, 100%, 70%, 1) 15%,
    hsla(200, 100%, 60%, 0.3) 28%,
    hsla(200, 100%, 30%, 0) 70%
  );
  background-repeat: no-repeat;
  -webkit-transition: background-position 0.15s cubic-bezier(0.8, 0, 1, 1),
    -webkit-transform 0.25s cubic-bezier(0.8, 0, 1, 1);
  outline: none;
}

.readstatus:checked {
  -webkit-transition: background-position 0.2s 0.15s cubic-bezier(0, 0, 0.2, 1),
    -webkit-transform 0.25s cubic-bezier(0, 0, 0.2, 1);
}

.readstatus:active {
  -webkit-transform: scale(1.5);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0, 0, 0.2, 1);
}

/* The up/down direction logic */

.readstatus,
.readstatus:active {
  background-position: 0 24px;
}

.readstatus:checked {
  background-position: 0 0;
}

.readstatus:checked ~ .readstatus,
.readstatus:checked ~ .readstatus:active {
  background-position: 0 -24px;
}
.radio-input {
  display: flex;

  justify-content: center;
}
.radio-input label {
  margin-top: 5px;
}
.submit {
  all: unset;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.6em 2em;
  border: rgb(199, 241, 225) solid 0.15em;
  border-radius: 0.25em;
  color: rgb(199, 241, 225);
  font-size: 30px;
  margin-left: 7%;
  font-weight: 400;
  cursor: pointer;
  overflow: hidden;
  transition: border 300ms, color 300ms;
  user-select: none;
}

.submit p {
  z-index: 1;
}

.submit:hover {
  color: #212121;
}

.submit:active {
  border-color: teal;
}

.submit::after,
.submit::before {
  content: "";
  position: absolute;
  width: 9em;
  aspect-ratio: 1;
  background: rgb(199, 241, 225);
  opacity: 50%;
  border-radius: 50%;
  transition: transform 500ms;
}

.submit::before {
  left: 0;
  transform: translateX(-8em);
}

.submit::after {
  right: 0;
  transform: translateX(8em);
}

.submit:hover:before {
  transform: translateX(-1em);
}

.submit:hover:after {
  transform: translateX(1em);
}

.submit:active:before,
.submit:active:after {
  background: teal;
}
.rating > label {
  margin-right: 3px;
}

.rating:not(:checked) > input {
  display: none;
}

.rating:not(:checked) > label {
  float: right;
  cursor: pointer;
  font-size: 30px;
}

.rating:not(:checked) > label > svg {
  fill: #666;
  transition: fill 0.3s ease;
}

.rating > input:checked ~ label > svg {
  fill: #ffa723;
}

.rating:not(:checked) > label:hover ~ label > svg,
.rating:not(:checked) > label:hover > svg {
  fill: #ff9e0b;
}

#star1:hover ~ label > svg,
#star1:hover > svg {
  fill: #a23c3c !important;
}

#star2:hover ~ label > svg,
#star2:hover > svg {
  fill: #99542d !important;
}

#star3:hover ~ label > svg,
#star3:hover > svg {
  fill: #9f7e18 !important;
}

#star4:hover ~ label > svg,
#star4:hover > svg {
  fill: #22885e !important;
}

#star5:hover ~ label > svg,
#star5:hover > svg {
  fill: #7951ac !important;
}

#star1:checked ~ label > svg {
  fill: #ef4444;
}

#star2:checked ~ label > svg {
  fill: #e06c2b;
}

#star3:checked ~ label > svg {
  fill: #eab308;
}

#star4:checked ~ label > svg {
  fill: #19c37d;
}

#star5:checked ~ label > svg {
  fill: #ab68ff;
}
.rating {
  margin-right: 15%;
}
.bookInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;

  width: 100%;
  height: 100vh;
}

.card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  color: white;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  position: relative;
  font-size: x-large;
  width: 11.875em;
  height: 16.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(6px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
  overflow: auto;
}
.card:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}
.newDiv {
  display: flex;
  width: 100%;
  height: fit-content;
  margin-top: 10%;
  justify-content: center;
  text-align: center;
}

.card {
  --sb-track-color: #f9f9f9;
  --sb-thumb-color: #e6e6e6;
  --sb-size: 1px;
}

.card::-webkit-scrollbar {
  width: var(--sb-size);
}

card::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 11px;
}

.card::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 100rem;
}

@supports not selector(::-webkit-scrollbar) {
  .card {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
